#aboutMeDiv {
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    width: 40%;
    left: 10%;
    top: 25%;
    gap: 30px;
}

#languageDisplay {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 150px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
}

#videoDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 20px;
    width: fit-content;
    border-radius: 20px;
}
