*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(assests/wallpaper\ ver\ 2\ without\ text.jpg);
    background-color: #000000;
    animation: expand .8s ease forwards;
}

.name{
    color: #FF0000;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 0;
}

.portBtn{
    color: white;
    font-size: 48px;
    border-radius: 10px;
    border-color:#7c0000;
    background-color:#7c0000;
    float: right;
    margin-right: 10px;
}

.portBtn:hover{
    color: #7c0000;
    background-color: white;
}

.portBtns{
    align-items: end;
    float: right;
}

.center-right-text{
    display: inline-block;
    position: absolute;
    right: 125px;
    bottom: 25%;
}