* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000000;
}

.name {
  color: #005eff;
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  float: right;
}

.portBtn {
  color: white;
  font-size: 48px;
  border-radius: 10px;
  border-color: #005eff;
  background-color: #005eff;
  float: right;
  margin-right: 10px;
}

.portBtn:hover {
  color: #005eff;
  background-color: white;
  font-weight: bold;
  border-color: white;
}

.portBtns {
  align-items: end;
  float: right;
}

.center-right-text {
  display: inline-block;
  position: absolute;
  right: 125px;
  bottom: 25%;
}

#under-text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  float: right;
}
.homeBtn {
  float: left;
  background-image: url(../assests/home.png);
  background-size: 50px;
  background-position: center;
  padding: 25px;
  background-repeat: no-repeat;
  border: none;
}
.homeBtn:hover {
  float: left;
  background-image: url(../assests/homeIn.png);
}
h1 {
  color: #005eff;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 0;
}

.top-box {
  text-align: center;
}

li {
  font-size: 25px;
  text-align: left;
  color: white;
}

ul {
  padding-top: 0;
  margin-top: 1%;

}

h2 {
  color: #3680ff;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  margin-bottom: 0;
}

p {
  color: white;
}

.center{
    align-content: center;
    align-self: center;
    text-align: center;
    width: fit-content;
    margin: 0 auto; 
    margin-top: 5%;
    background-color: white;

}

.sublist{
    font-size: 16px;
}