#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 95%;
}

#btnDiv {
    display: flex;
    flex-direction: column;
    gap: 10;
}

#iconDiv {
    gap: 20px;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    align-self: center;
    align-content: center;
}

#videoDiv {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: white;
    border-radius: 20px;
}

#imageDiv {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: fit-content;
    gap: 20px;
}

#image {
    height: 500px;
    width: auto;
}
