#page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnDiv {
    display: flex;
    flex-direction: column;
    gap: 10;
    position: absolute;
    right: 20%;
    top: 30%;
}

#iconDiv {
    gap: 20px;
    width: 90%;
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

#videoDiv {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%;
    overflow-x: scroll;
    scrollbar-color: white;
}
