#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#topText {
  align-items: center;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  top: 20px;
}
#subjectList {
  list-style-type: none;
  display: block;
  right: 5%;
  top: 30%;
  padding: 20px;
  position: absolute;
}

#smallDisplay {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  max-width: 120px;
  height: fit-content;
}

#smallDisplayText {
  color: black;
}

#smallImage {
  width: 100px;
  height: 100px;
}

#displayArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  right: 0px;
  left: 0px;
  top: 0px;
}

#container {
  right: 0;
  left: 0;
}

#projectsButton {
  left: 0px;
  right: 0px;
  align-self: center;
}

#projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projectDisplay {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  max-width: fit-content;
  margin: 10px;
  padding: 20px;
}

#projectDisplay h2 {
  color: black;
}

#projectDisplay p {
  color: black;
}
#miniIcon {
  width: 45px;
  height: 45px;
  margin-inline: 3px;
}
#descContainer {
  display: flex;
  justify-content: center;
}
#videoDisplay {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: fit-content;
}

#videosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0px;
  right: 0px;
}

#homeButton {
  position: absolute;
  left: 0px;
  top: 10px;
  display: flex;
}

#toolDisplay {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  align-self: center;
}
#toolDisplay p {
  color: black;
}
#toolDisplay h2 {
  color: black;
}
