:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #000000;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  display: block;
  padding-inline: 10px;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 60px;
  line-height: 1.1;
}

#subjectButton {
  font-size: 40px;
  font-family: inherit;
  font-weight: 500;
  background-color: rgb(0, 0, 0);
  border-width: 0;
  text-align: left;
  width: 550px;
}

button {
  font-size: 40px;
  font-family: inherit;
  font-weight: 500;
  background-color: rgb(0, 0, 0);
  border-width: 0;
}
