:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

p,
a,
li {
    font-size: 15px;
}

h1 {
    font-size: 60px;
    text-align: center;
}
h2 {
    font-size: 35px;
    margin-bottom: 0px;
}

#cornerDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 10px;
    right: 10px;
    gap: 10px;
}
